extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 Admin Sign up
  form.body-form.body-form__centered(id='signup-form', method='POST' action='/admincustomersignup')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group.row
      label.col-form-label.col-form-label__stacked(for='email') Email
      .col-md-12
        input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus, autocomplete='email', required)
    .form-group.row
      label.col-form-label.col-form-label__stacked(for='password') Password
      .col-md-12
        input.form-control(type='password', name='password', id='password', placeholder='Password', autocomplete='new-password', required)
    .form-group.row
      label.col-form-label.col-form-label__stacked(for='confirmPassword') Confirm Password
      .col-md-12
        input.form-control(type='password', name='confirmPassword', id='confirmPassword', placeholder='Confirm Password', autocomplete='new-password', required)
    .form-group.offset-sm-3.col-md-7.pl-2
      button.btn.btn-willow(type='submit')
        i.fas.fa-user-plus.fa-sm
        | Signup
