extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 Sign up
      br
      br
      br
      br
      hr
      .row
        .col 
          h5.text-center To Create Account, email 
            h5.text-center Will Zacher at
              a.btn.btn-link(href='#') will@willowsenior.care
