extends ../layout

block content
  .auth-form
    .auth-form-header
      h3 Sign up
    br
    br
    .row
      .col 
        p.text-center To create an account, email 
          p.text-center Will Zacher at  
            a.font-weight-bold(href='#')= email
