extends ../layout

block content

  .auth-form
    .auth-form-header
      h3 Sign in
  .login-container
    .login-wrapper.p-t-50.p-b-50
      form(id="login" method='POST' action='/login')
        input(type='hidden', name='_csrf', value=_csrf)
        .input-wrapper#email-wrapper
          input(type='email', name='email', id='email', placeholder='Email', autofocus, autocomplete='email', required)
          span.focus-action(data-placeholder="Email")
        .input-wrapper
          input(type='password', name='password', id='password', placeholder='Password', autocomplete='current-password', required)
          span.focus-action(data-placeholder="Password")
        .form-group
          .offset-sm-3.col-md-7.pl-2
            button.col-md-3.btn.btn-primary(type='submit')
              i.far.fa-user.fa-sm
              | Login
            a.btn.btn-link(href='/forgot') Forgot your password?
        //.form-group
          .offset-sm-3.col-md-7.pl-2
            hr
        //.form-group
          .offset-sm-3.col-md-7.pl-2
            //- a.btn.btn-block.btn-facebook.btn-social(href='/auth/facebook')
            //-   i.fab.fa-facebook-f.fa-sm
            //-   | Sign in with Facebook
            a.btn.btn-block.btn-google.btn-social(href='/auth/google')
              i.fab.fa-google-plus-g.fa-xs
              | Sign in with Google
        

  script.
    var email_input = document.getElementById('email'),
        email_input_wrapper = document.getElementById('email-wrapper'),
        email_val = email_input.value;
        if (email_val && email_val.length)
          email_input_wrapper.addClass('has-value');
          console.log('should have added the class');
    email_input.addEventListener('change', function (evt) {
        console.log('changed email value', email_val);
    });
