extends ../layout

block content

  .auth-form
    .auth-form-header
      h3 Sign in
    .login-container
      .login-wrapper.p-t-50.p-b-50
        form(id="login" method='POST' action='/login')
          input(type='hidden', name='_csrf', value=_csrf)
          .input-wrapper#email-wrapper
            input(type='email', name='email', id='email', value="", autofocus, autocomplete='email', required)
            span.focus-action(data-placeholder="Email")
          .input-wrapper#password-wrapper
            input(type='password', name='password', id='password', autocomplete='current-password', required)
            span.focus-action(data-placeholder="Password")
          button.col-md-3.btn.btn-willow(type='submit')
            i.far.fa-user.fa-sm
            | Login
        .forgot-password
          p Forgot your
            a.btn.btn-link(href='/forgot') password?

          //.form-group
            .offset-sm-3.col-md-7.pl-2
              hr
          //.form-group
            .offset-sm-3.col-md-7.pl-2
              //- a.btn.btn-block.btn-facebook.btn-social(href='/auth/facebook')
              //-   i.fab.fa-facebook-f.fa-sm
              //-   | Sign in with Facebook
              a.btn.btn-block.btn-google.btn-social(href='/auth/google')
                i.fab.fa-google-plus-g.fa-xs
                | Sign in with Google
        
  script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
  script.
    $(document).ready( function() {
      var email_input = document.getElementById('email'),
          email_value = email_input.value,
          pw_input = document.getElementById('password'),
          pw_value = email_input.value;

      email_input.addEventListener('input', function (evt) {
          var email_value = document.getElementById('email').value;
          if (email_value && email_value.length > 0) {
            document.getElementById('email-wrapper').classList.add('has-value');
            console.log('changed email value now', email_value);
          } else {
            document.getElementById('email-wrapper').classList.remove('has-value');
          }
      });

      pw_input.addEventListener('input', function (evt) {
          var pw_value = document.getElementById('password').value;
          if (pw_value && pw_value.length > 0) {
            document.getElementById('password-wrapper').classList.add('has-value');
            console.log('changed pw value now', pw_value);
          } else {
            document.getElementById('password-wrapper').classList.remove('has-value');
          }
      });
    });
