extends ../layout

block content

    .row.pb-2.m-t-40.mb-4.border-bottom
        .col-xs-12.col-md-12.col-lg-6.text-left
            h1 Senior Room Profile
        .col-lg-6.hidden-sm.text-right
            .step-form-breadcrumbs.breadcrumbs-flex.text-right
                span.step
                span.step
                span.step
                span.step
                span.step
                span.step
                span.step
    form.body-form.body-form__centered(id='seniorcreate-form', method='POST', action='/seniorsignup', novalidate)
        input(type='hidden', name='_csrf', value=_csrf)
        .step-form-tab
            .form-section
                .form-group.form-section-header.form-section-header--center
                    h3.text-center Senior Information
                .form-group.row
                    label.col-form-label.col-form-label__stacked Senior Name
                    .col-md-10
                        input.form-control(type='text', name='seniorName', id='seniorName', placeholder='Senior Name', autofocus)
                .form-group.row
                    label.col-sm-3.col-md-2.col-form-label Gender
                    .col-md-3
                        .col-md-12
                            label.form-radio-label.ml-4(for='M') Male
                                input.form-radio-input(type='radio', name='gender', id='M',  value = 'M')
                                span.radio
                        .col-md-12
                            label.form-radio-label.ml-4(for='F') Female
                                input.form-radio-input(type='radio', name='gender', id='F',  value = 'F')
                                span.radio
                .form-group.row
                    label.col-form-label.col-form-label__stacked Age
                    .col-md-4
                        input.form-control(type='number', pattern='^[0–9]$', name='age', id='age', placeholder='Age')
                .form-group.row
                    label.col-form-label.col-form-label__stacked Zip Code
                    .col-md-4
                        input.form-control(type='number', pattern='^[0–9]$', name='zipCode', id='zipCode', placeholder='ZipCode')
                .form-group.row
                    label.col-form-label.col-form-label__stacked Email Address
                    .col-md-6
                        input.form-control(type='text', name='email', id='emailAddress', placeholder='Email Address')
        .step-form-tab
            .form-section
                .form-group.form-section-header.form-section-header--center
                    h3.text-center Senior Financial Information
                .form-group.row
                    label.col-lg-6.col-md-6.col-form-label Medicaid
                    .col-md-6
                        .col-md-12
                            label.form-radio-label.ml-4(for='medicAid_yes') Yes
                                input.form-radio-input(type='radio', name='medicaid', id='medicAid_yes' value = 'true')
                                span.radio
                        .col-md-12
                            label.form-radio-label.ml-4(for='medicAid_no') No
                                input.form-radio-input(type='radio', name='medicaid', id='medicAid_no' value = 'false')
                                span.radio
                br
                .form-group.row
                    label.col-lg-6.col-md-6.col-form-label Does the senior require respite care?
                    .col-md-6
                        .col-md-12
                            label.form-radio-label.ml-4(for='respite_yes') Yes
                                input.form-radio-input(type='radio', name='respiteCare', id='respite_yes' value = 'true')
                                span.radio
                        .col-md-12
                            label.form-radio-label.ml-4(for='respite_no') No
                                input.form-radio-input(type='radio', name='respiteCare', id='respite_no' value = 'false')
                                span.radio
                br
                .form-group.row
                    label.col-lg-6.col-md-6.col-form-label Desired Rent
                    .col-md-6
                        input.form-control(type='number', name='desiredRent', id='desiredRent', placeholder='$0.00')
                br

        .step-form-tab
            .form-section
                .form-group.form-section-header.form-section-header--center
                    h3.text-center Behavioral Needs
                        h4.text-center Does the Senior Exhibit any Behavioral Problems?
                br
                .form-group.row
                    label.col-form-label.col-form-label__stacked.check-group-labelDoes Does the Senior Exhibit any Behavioral Problems?
                    .col-md-4
                        .col-md-12
                            label.form-radio-label.ml-4(for='behaviorproblems_yes') Yes
                                input.form-radio-input(type='radio', name='behaviorProblems', id='behaviorproblems_yes' value= 'true')
                                span.radio
                        .col-md-12
                            label.form-radio-label.ml-4(for='behaviorproblems_no') No
                                input.form-radio-input(type='radio', name='behaviorProblems', id='behaviorproblems_no' value= 'false')
                                span.radio
                .form-group.row
                    label.col-form-label.col-form-label__stacked.check-group-labelDoes Are They Physically Aggressive?
                    .col-md-4
                        .col-md-12
                            label.form-radio-label.ml-4(for='physicalaggressive_yes') Yes
                                input.form-radio-input(type='radio', name='physicalAggressive', id='physicalaggressive_yes' value= 'true')
                                span.radio
                        .col-md-12
                            label.form-radio-label.ml-4(for='physicalaggressive_no') No
                                input.form-radio-input(type='radio', name='physicalAggressive', id='physicalaggressive_no' value= 'false')
                                span.radio
                .form-group.row
                    label.col-form-label.col-form-label__stacked.check-group-labelDoes Are the Behaviors Severe or Frequent?
                    .col-md-4
                        .col-md-12
                            label.form-radio-label.ml-4(for='severeorfrequent_yes') Yes
                                input.form-radio-input(type='radio', name='severeOrFrequentBehaviors', id='severeorfrequent_yes' value= 'true')
                                span.radio
                        .col-md-12
                            label.form-radio-label.ml-4(for='severeorfrequent_no') No
                                input.form-radio-input(type='radio', name='severeOrFrequentBehaviors', id='severeorfrequent_no' value= 'false')
                                span.radio

        .step-form-tab
            .form-section
                .form-group.form-section-header.form-section-header--center
                    h3.text-center Senior's Health Information
                br
                .form-group.row
                    label.col-lg-6.col-md-6.col-form-label How many daily insulin shots does the senior require?
                    .col-md-4
                        input.form-control(type='number', name='insulinShots', id='insulinShots', placeholder='Insulin Shots')
                br
                .form-group.row
                    label.col-lg-6.col-md-6.col-form-label Memory Care
                    .col-md-6
                        .col-md-12
                            label.form-radio-label.ml-4(for='memorycare_yes') Yes
                                input.form-radio-input(type='radio', name='memoryCare', id='memorycare_yes' value = 'true')
                                span.radio
                        .col-md-12
                            label.form-radio-label.ml-4(for='memorycare_no') No
                                input.form-radio-input(type='radio', name='memoryCare', id='memorycare_no' value = 'false')
                                span.radio
                br 
                .form-group.row
                    label.col-lg-6.col-md-6.col-form-label Does the senior require an Oxygen Tank?
                    .col-md-6
                        .col-md-12
                            label.form-radio-label.ml-4(for='oxygenTank_yes') Yes
                                input.form-radio-input(type='radio', name='oxygenTank', id='oxygenTank_yes' value = 'true')
                                span.radio
                        .col-md-12
                            label.form-radio-label.ml-4(for='oxygenTank_no') No
                                input.form-radio-input(type='radio', name='oxygenTank', id='oxygenTank_no' value = 'false')
                                span.radio
                br
                .form-group.row
                    label.col-lg-6.col-md-6.col-form-label Does the senior require an oxygen tank at all times?
                    .col-md-6
                        .col-md-12
                            label.form-radio-label.ml-4(for='allTimeOxygen_yes') Yes
                                input.form-radio-input(type='radio', name='continousOxygen', id='allTimeOxygen_yes' value = 'true')
                                span.radio
                        .col-md-12
                            label.form-radio-label.ml-4(for='allTimeOxygen_no') No
                                input.form-radio-input(type='radio', name='continousOxygen', id='allTimeOxygen_no' value = 'false')
                                span.radio
                br 
                .form-group.row
                    label.col-lg-6.col-md-6.col-form-label Can the senior change their own catheter/colostomy bag?
                    .col-md-6
                        .col-md-12
                            label.form-radio-label.ml-4(for='ChangeCatheter_yes') Yes
                                input.form-radio-input(type='radio', name='changeCatheterOrColostomyBag', id='ChangeCatheter_yes' value = 'true')
                                span.radio
                        .col-md-12
                            label.form-radio-label.ml-4(for='ChangeCatheter_no') No
                                input.form-radio-input(type='radio', name='changeCatheterOrColostomyBag', id='ChangeCatheter_no' value = 'false')
                                span.radio
                br
                .form-group.row
                    label.col-md-12.col-form-label Which activities of Daily Living do they need 1 on 1 Assistance?
                        .col-md-4
                            label.form-check-label Eating
                                input.form-check-input(type='checkbox', id=`eating`, name='eating' value='true' )
                                span.checkmark
                            label.form-check-label Dressing
                                input.form-check-input(type='checkbox', id=`dressing`, name='dressing' value='true' )
                                span.checkmark
                            label.form-check-label Bathing
                                input.form-check-input(type='checkbox', id=`bathing`, name='bathing' value='true' )
                                span.checkmark
                            label.form-check-label Transfers
                                input.form-check-input(type='checkbox', id=`transfers`, name='transfers' value='true' )
                                span.checkmark
                            label.form-check-label Moving
                                input.form-check-input(type='checkbox', id=`moving`, name='moving' value='true' )
                                span.checkmark
                            label.form-check-label Toileting
                                input.form-check-input(type='checkbox', id=`toileting`, name='toileting' value='true' )
                                span.checkmark
        .step-form-tab
            .form-section
                .form-group.form-section-header.form-section-header--center
                    h3.text-center Senior's Health Information cont...
                br 

                .form-group.row
                    label.col-lg-12.col-md-12.col-form-label Any Other Health Information You'd Like to Include?
                    .col-md-12
                        input.form-control(type='text', name='otherInformation', id='otherInformation', placeholder='Special Diets, Smoket, etc.', value=otherHealthInformation)


            //br 
            //.form-group.offset-sm-1.col-md-6.pl-2
              //button.btn.btn-willow.btn-signup-form(type='submit')
                i.fas.fa-user-plus.fa-sm
                | Signup
        .row.button-row(id="submitRow")
            .col-md-6
                button.btn-subtle(id='prevBtn2', onclick='nextPrev(-1)', type='button')
                    | Previous
            .col-md-6
                button.btn-secondary(type='submit')
                    i.fas.fa-user-plus.fa-sm
                    | Signup
        .row.button-row(id="prevNextRow")
            .col-md-6
                button.btn-subtle(id='prevBtn1', onclick='nextPrev(-1)', type='button')
                    | Previous
            .col-md-6(id="nextContainer")
                button.btn-secondary(id='nextBtn', onclick='nextPrev(1)', type='button')
                    | Next
      
      



    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script.
        var currentTab = 0; // Current tab is set to be the first tab (0)
        $(document).ready( function() {
            showTab(currentTab); // Display the current tab
        });

      //Phone Number Parsing
      $(document).ready( function() {
        var phone_input = document.getElementById('contactNumber');
        phone_input.addEventListener('input', function (evt) {
          var number_value = document.getElementById('contactNumber').value,
              final_value;
          if (number_value.length >= 14) return;

          if (number_value.length == 3) {
            //reformat and return phone number
            number_value = number_value.replace(/[^\d]/g, "");
            final_value = number_value.replace(/(\d{3})/, "($1) ");
          } else if (number_value.length == 10) {

            number_value = number_value.replace(/[^\d]/g, "");
            final_value = number_value.replace(/(\d{3})(\d{3})/, "($1) $2-");

          } else if (number_value.length == 14) {
            //reformat and return phone number
            number_value = number_value.replace(/[^\d]/g, "");
            final_value = number_value.replace(/(\d{3})(\d{3})(\d{4})/, "($1) $2-$3");
          } else {
            final_value = number_value
          }

          document.getElementById('contactNumber').value = final_value;
        });
      });


      function showTab(n, direction) {
        console.log('show tabe??', n);

        //=== This function will display the specified tab of the form...
          var x = document.getElementsByClassName("step-form-tab");
          x[n].style.display = "block";

        //===... and fix the Previous/Next buttons:


        if (n == (x.length - 1)) {
          //=== Show the submit button
            document.getElementById("prevNextRow").style.display = "none";
            document.getElementById("submitRow").style.display = "flex";
            document.getElementById("prevBtn1").style.display = "none";
        } else {
          //=== Don't show the submit row until the end
            document.getElementById("submitRow").style.display = "none";
            document.getElementById("nextBtn").innerHTML = "Next";
            document.getElementById("prevBtn2").style.display = "none";
        }

        //... and run a function that will display the correct step indicator:
          fixStepIndicator(n, direction);
      }

      function nextPrev(n) {
        // This function will figure out which tab to display
          var x = document.getElementsByClassName("step-form-tab");

        // Exit the function if any field in the current tab is invalid, only for first tab
        if (n == 1 && (currentTab == 0 || currentTab == 1) && !validateForm(currentTab)) return false;

        // Exit the function if we're on the first tab and trying previous
        if (currentTab + n <= 0) return;

        // Hide the current tab
          x[currentTab].style.display = "none";

        // Increase or decrease the current tab by 1
          currentTab = currentTab + n;
          
        // if you have reached the end of the form...
          if (currentTab >= x.length) {
            return false;
          }

        // Otherwise, display the correct tab:
          showTab(currentTab, n);
      }

      function fixStepIndicator(n, direction) {
        //=== This function removes the "active" class of all steps...
          var i, 
            x = document.getElementsByClassName("step");

          //=== ... and remove the "complete" class from all future steps in case we went backwards
          if(direction == -1 && n && x[n]) {
            console.log('for i greater than n remove the complete class', x[previousIndex]);
            x[n].className = x[n].className.replace("complete", "");

            var previousIndex = n + 1;
            x[previousIndex].className = x[previousIndex].className.replace("active", "");
            x[previousIndex].className = x[previousIndex].className.replace("complete", "");
          } else {
            for (i = 0; i < x.length; i++) {
              x[i].className = x[i].className.replace("active", " complete");
            }
          }
          

          

        //... and adds the "active" class on the current step:
          x[n].className += " active";

      }

      //====== Only need to validate step-one for required fields ======//
      function validateForm(currentTab) {
        // This function deals with validation of the form fields
          var x, y, i, valid = true;
          x = document.getElementsByClassName("step-form-tab");
          y = x[currentTab].getElementsByTagName("input");
          var formData = $(y).serializeArray();
          console.log('formData', formData);

        // A loop that checks every input field in the current tab:

          for (i = 0; i < formData.length; i++) {
            // If a field is empty...
            if (formData[i].value == "") {
              // add an "invalid" class to the field:
              y[i].className += " invalid";
              // and set the current valid status to false:
              valid = false;
            }
          }
        // If the valid status is true, mark the step as finished and valid:
          return valid; // return the valid status
      }
          
    
