extends ../layout

block content

  .auth-form
    .auth-form-header
      h3 Admin Sign up
    .login-container
      .login-wrapper.p-t-50.p-b-50
        form.body-form(id='signup-form', method='POST' action='/willowadminsignup')
          input(type='hidden', name='_csrf', value=_csrf)
          .input-wrapper#email-wrapper
            input(type='email', name='email', id='email', value="", autofocus, autocomplete='email', required)
            span.focus-action(data-placeholder="Email")
          .input-wrapper#password-wrapper
            input(type='password', name='password', id='password', autocomplete='new-password', required)
            span.focus-action(data-placeholder="Password")
          .input-wrapper#confirm-password-wrapper
            input(type='password', name='confirmPassword', id='confirmPassword', autocomplete='new-password', required)
            span.focus-action(data-placeholder="Confirm Password")
          .input-wrapper#passcode-wrapper
            input(type='passcode', name='passcode', id='passcode', required)
            span.focus-action(data-placeholder="Passcode")
          button.col-md-3.btn.btn-willow(type='submit')
            i.far.fa-user.fa-sm
            | Signup


  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
  script.
    $(document).ready( function() {
      var email_input = document.getElementById('email'),
          email_value = email_input.value,
          pw_input = document.getElementById('password'),
          pw_value = pw_input.value, 
          pw_confirm_input = document.getElementById('confirmPassword'),
          pw_confirm_value = pw_confirm_input.value,
          passcode_input = document.getElementById('passcode'),
          passcode_value = passcode_input.value;

      email_input.addEventListener('input', function (evt) {
          var email_value = document.getElementById('email').value;
          if (email_value && email_value.length > 0) {
            document.getElementById('email-wrapper').classList.add('has-value');
            console.log('changed email value now', email_value);
          } else {
            document.getElementById('email-wrapper').classList.remove('has-value');
          }
      });
      email_input.addEventListener('change', function (evt) {
          var email_value = document.getElementById('email').value;
          if (email_value && email_value.length > 0) {
            document.getElementById('email-wrapper').classList.add('has-value');
            console.log('changed email value now', email_value);
          } else {
            document.getElementById('email-wrapper').classList.remove('has-value');
          }
      });

      pw_input.addEventListener('input', function (evt) {
          var pw_value = document.getElementById('password').value;
          if (pw_value && pw_value.length > 0) {
            document.getElementById('password-wrapper').classList.add('has-value');
            console.log('changed pw value now', pw_value);
          } else {
            document.getElementById('password-wrapper').classList.remove('has-value');
          }
      });
      pw_input.addEventListener('change', function (evt) {
          var pw_value = document.getElementById('password').value;
          if (pw_value && pw_value.length > 0) {
            document.getElementById('password-wrapper').classList.add('has-value');
            console.log('changed pw value now', pw_value);
          } else {
            document.getElementById('password-wrapper').classList.remove('has-value');
          }
      });

      pw_confirm_input.addEventListener('input', function (evt) {
          var pw_confirm_value = document.getElementById('confirmPassword').value;
          if (pw_confirm_value && pw_confirm_value.length > 0) {
            document.getElementById('confirm-password-wrapper').classList.add('has-value');
            console.log('changed pw value now', pw_confirm_value);
          } else {
            document.getElementById('confirm-password-wrapper').classList.remove('has-value');
          }
      });
      pw_confirm_input.addEventListener('change', function (evt) {
          var pw_confirm_value = document.getElementById('confirmPassword').value;
          if (pw_confirm_value && pw_confirm_value.length > 0) {
            document.getElementById('confirm-password-wrapper').classList.add('has-value');
            console.log('changed pw value now', pw_confirm_value);
          } else {
            document.getElementById('confirm-password-wrapper').classList.remove('has-value');
          }
      });

      passcode_input.addEventListener('input', function (evt) {
          var passcode_value = document.getElementById('passcode').value;
          if (passcode_value && passcode_value.length > 0) {
            document.getElementById('passcode-wrapper').classList.add('has-value');
            console.log('changed passcode value now', passcode_value);
          } else {
            document.getElementById('passcode-wrapper').classList.remove('has-value');
          }
      });

    });
