extends layout

block content
  .auth-form
    .auth-form-header
      h3 Contact
    br
    br
    br
    br
    hr
    .row
      .col 
        p.text-center Questions? Email
          p.text-center Will Zacher at  
            a.font-weight-bold(href='mailto:will@willowsenior.care', target='_blank') will@willowsenior.care


  