extends layout

block content

  .row.pb-2.m-t-40.mb-4.border-bottom
    .col-xs-12.col-md-12.col-lg-6.text-left
      h1 Create Permanent Facility Profile
    .col-lg-6.hidden-sm.text-right
      .step-form-breadcrumbs.text-right
        span.step
        span.step
        span.step
        span.step
        span.step
  form.body-form.body-form__centered(id='facsignup-form', method='POST', action='/facilitysignup', novalidate)
    input(type='hidden', name='_csrf', value=_csrf)

    .step-form-tab
      .form-section
        .form-group.form-section-header.form-section-header--center
          h3.text-center Facility Info
        .form-group.row
          label.col-form-label.col-form-label__stacked Facility Name
          .col-md-10
            input.form-control(type='text', name='facilityName', id='facilityName', placeholder='Facility Name')
        .form-group.row
          label.col-form-label.col-form-label__stacked Contact Number
          .col-md-10
            input.form-control(type='text', name='contactNumber', id='contactNumber', placeholder='XXX-XXX-XXXX', maxlength="14")
        .form-group.row
          label.col-form-label.col-form-label__stacked Contact Name
          .col-md-6
            input.form-control(type='text', name='contactName', id='contactName', placeholder='Contact Name')
    .step-form-tab
      .form-section
        .form-group.form-section-header.form-section-header--center
          h3.text-center Location
        .form-group.row
          label.col-form-label.col-form-label__stacked Steet
          .col-md-10
            input.form-control(type='text', name='street', id='street', placeholder='Street', optional)
        .form-group.row
          label.col-form-label.col-form-label__stacked City
          .col-md-10
            input.form-control(type='text', name='city', id='city', placeholder='City', optional)
        .form-group.row
          .form-group__inline
            label.col-form-label.col-form-label__stacked State
            .col-md-12
              input.form-control(type='text', name='state', id='state', placeholder='State', optional)
          .form-group__inline
            label.col-form-label.col-form-label__stacked Zip
            .col-md-12
              input.form-control(type='text', name='zip', id='zip', placeholder='Zip', optional)
    .step-form-tab
      .form-section
        .form-group.form-section-header.form-section-header--center
            h3.text-center Additional Info
        .form-group.row
            label.col-form-label.col-form-label__stacked.check-group-labelDoes Are you on MedicAid?
            .col-md-4
                .col-md-12
                    label.form-radio-label.ml-4(for='medicaid_yes') Yes
                        input.form-radio-input(type='radio', name='medicaid', id='medicaid_yes' value = 'true')
                        span.radio
                .col-md-12
                    label.form-radio-label.ml-4(for='medicaid_no') No
                        input.form-radio-input(type='radio', name='medicaid', id='medicaid_no' value = 'false')
                        span.radio
        .form-group.row
            label.col-form-label.col-form-label__stacked Desired Rent
            .col-md-6
                input.form-control(type='number', name='desiredRent', id='desiredrent', placeholder='0.00', required)

    .step-form-tab
      .form-section
        .form-group.form-section-header.form-section-header--center
            h3.text-center Behavioral Problems
                h4.text-center Does Your Senior Exhibit any Behavioral Problems?
        br
        .form-group.row
            label.col-form-label.col-form-label__stacked.check-group-labelDoes Does your Senior Exhibit any Behavioral Problems?
            .col-md-4
                .col-md-12
                    label.form-radio-label.ml-4(for='behaviorproblems_yes') Yes
                        input.form-radio-input(type='radio', name='behaviorProblems', id='behaviorproblems_yes' value= 'true')
                        span.radio
                .col-md-12
                    label.form-radio-label.ml-4(for='behaviorproblems_no') No
                        input.form-radio-input(type='radio', name='behaviorProblems', id='behaviorproblems_no' value= 'false')
                        span.radio
        .form-group.row
            label.col-form-label.col-form-label__stacked.check-group-labelDoes Are They Physically Aggressive?
            .col-md-4
                .col-md-12
                    label.form-radio-label.ml-4(for='physicalaggressive_yes') Yes
                        input.form-radio-input(type='radio', name='physicalAggressive', id='physicalaggressive_yes' value= 'true')
                        span.radio
                .col-md-12
                    label.form-radio-label.ml-4(for='physicalaggressive_no') No
                        input.form-radio-input(type='radio', name='physicalAggressive', id='physicalaggressive_no' value= 'false')
                        span.radio
        .form-group.row
            label.col-form-label.col-form-label__stacked.check-group-labelDoes Are the Behaviors Severe or Frequent?
            .col-md-4
                .col-md-12
                    label.form-radio-label.ml-4(for='severeorfrequent_yes') Yes
                        input.form-radio-input(type='radio', name='severeOrFrequentBehaviors', id='severeorfrequent_yes' value= 'true')
                        span.radio
                .col-md-12
                    label.form-radio-label.ml-4(for='severeorfrequent_no') No
                        input.form-radio-input(type='radio', name='severeOrFrequentBehaviors', id='severeorfrequent_no' value= 'false')
                        span.radio
    .step-form-tab
      .form-section
        .form-group.form-section-header.form-section-header--center
            h3.text-center Additional Health Accomodations
                h4.text-center What types of special assistance can your facility provide?
        br 
        .form-group.row
          label.col-lg-8.col-md-8.col-form-label How Many Insulin Shots Can You Administer per person per day?
          .col-md-4
            input.form-control(type='number', name='insulinShots', id='insulinshots', placeholder='Insulin Shots', autofocus, required)
        br 
        .form-group.row
          label.col-lg-8.col-md-8.col-form-label Memory Care
          .col-md-4
            .col-md-12
                label.form-radio-label.ml-4(for='memorycare_yes') Yes
                    input.form-radio-input(type='radio', name='memoryCare', id='memorycare_yes' value = 'true')
                    span.radio
            .col-md-12
                label.form-radio-label.ml-4(for='memorycare_no') No
                    input.form-radio-input(type='radio', name='memoryCare', id='memorycare_no' value = 'false')
                    span.radio
        br 
        .form-group.row
          label.col-lg-8.col-md-8.col-form-label Would you Take a Resident with an Oxygen Tank?
          .col-md-4
            .col-md-12
                label.form-radio-label.ml-4(for='oxygentank_yes') Yes
                    input.form-radio-input(type='radio', name='oxygenTank', id='oxygentank_yes' value = 'true')
                    span.radio
            .col-md-12
                label.form-radio-label.ml-4(for='oxygentank_no') No
                    input.form-radio-input(type='radio', name='oxygenTank', id='oxygentank_no' value = 'false')
                    span.radio
        br
        .form-group.row
          label.col-lg-8.col-md-8.col-form-label Would you take a Resident who needs to be on oxygen at all times?
          .col-md-4
            .col-md-12
                label.form-radio-label.ml-4(for='alltimeoxygen_yes') Yes
                    input.form-radio-input(type='radio', name='continousOxygen', id='alltimeoxygen_yes' value = 'true')
                    span.radio
            .col-md-12
                label.form-radio-label.ml-4(for='alltimeoxygen_no') No
                    input.form-radio-input(type='radio', name='continousOxygen', id='alltimeoxygen_no' value = 'false')
                    span.radio
        br
        .form-group.row
          label.col-lg-8.col-md-8.col-form-label Would you take a Resident who cannot change their own catheter/colostomy bag?
          .col-md-4
            .col-md-12
                label.form-radio-label.ml-4(for='changecatheter_yes') Yes
                    input.form-radio-input(type='radio', name='changeCatheterOrColostomyBag', id='changecatheter_yes' value = 'true')
                    span.radio
            .col-md-12
                label.form-radio-label.ml-4(for='changecatheter_no') No
                    input.form-radio-input(type='radio', name='changeCatheterOrColostomyBag', id='changecatheter_no' value = 'false')
                    span.radio
        br

    .row.button-row(id="submitRow")
        .col-md-6
          button.btn-subtle(id='prevBtn', onclick='nextPrev(-1)', type='button')
            | Previous
        .col-md-6
          button.btn-secondary(type='submit')
            i.fas.fa-user-plus.fa-sm
            | Signup
    .row.button-row(id="prevNextRow")
      .col-md-6
        button.btn-subtle(id='prevBtn', onclick='nextPrev(-1)', type='button')
          | Previous
      .col-md-6(id="nextContainer")
        button.btn-secondary(id='nextBtn', onclick='nextPrev(1)', type='button')
          | Next
      
      



    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script.
      var currentTab = 0; // Current tab is set to be the first tab (0)
      showTab(currentTab); // Display the current tab

      //Phone Number Parsing
      $(document).ready( function() {
        var phone_input = document.getElementById('contactNumber');
        phone_input.addEventListener('input', function (evt) {
          var number_value = document.getElementById('contactNumber').value,
              final_value;
          if (number_value.length >= 14) return;

          if (number_value.length == 3) {
            //reformat and return phone number
            number_value = number_value.replace(/[^\d]/g, "");
            final_value = number_value.replace(/(\d{3})/, "($1) ");
          } else if (number_value.length == 10) {

            number_value = number_value.replace(/[^\d]/g, "");
            final_value = number_value.replace(/(\d{3})(\d{3})/, "($1) $2-");

          } else if (number_value.length == 14) {
            //reformat and return phone number
            number_value = number_value.replace(/[^\d]/g, "");
            final_value = number_value.replace(/(\d{3})(\d{3})(\d{4})/, "($1) $2-$3");
          } else {
            final_value = number_value
          }

          document.getElementById('contactNumber').value = final_value;
        });
      });

      function showTab(n, direction) {
        // This function will display the specified tab of the form...
          var x = document.getElementsByClassName("step-form-tab");
          x[n].style.display = "block";
        //... and fix the Previous/Next buttons:
        if (n == 0) {
          document.getElementById("prevBtn").style.display = "none";
        } else {
          document.getElementById("prevBtn").style.display = "inline";
        }
        if (n == (x.length - 1)) {
          //Show the submit button
            document.getElementById("prevNextRow").style.display = "none";
            document.getElementById("submitRow").style.display = "flex";
        } else {
          //Don't show the submit row until the end
            document.getElementById("submitRow").style.display = "none";
            document.getElementById("prevNextRow").style.display = "flex";
            document.getElementById("nextBtn").innerHTML = "Next";
        }

        //... and run a function that will display the correct step indicator:
          fixStepIndicator(n, direction);
      }

      function nextPrev(n) {
        // This function will figure out which tab to display
          var x = document.getElementsByClassName("step-form-tab");

        // Exit the function if any field in the current tab is invalid, only for first tab:
          if (n == 1 && currentTab == 0 && !validateForm(currentTab)) return false;

        // Hide the current tab:
          x[currentTab].style.display = "none";

        // Increase or decrease the current tab by 1:
          currentTab = currentTab + n;

        // if you have reached the end of the form...
          if (currentTab >= x.length) {
            return false;
          }

        // Otherwise, display the correct tab:
          showTab(currentTab, n);
      }

      function fixStepIndicator(n, direction) {
        // This function removes the "active" class of all steps...
          var i, 
            x = document.getElementsByClassName("step");

          //... and remove the "complete" class from all future steps in case we went backwards
          if(direction == -1) {
            console.log('for i greater than n remove the complete class', x[previousIndex]);
            x[n].className = x[n].className.replace("complete", "");

            var previousIndex = n + 1;
            x[previousIndex].className = x[previousIndex].className.replace("active", "");
            x[previousIndex].className = x[previousIndex].className.replace("complete", "");
          } else {
            for (i = 0; i < x.length; i++) {
              x[i].className = x[i].className.replace("active", " complete");
            }
          }
          

          

        //... and adds the "active" class on the current step:
          x[n].className += " active";

      }

      //====== Only need to validate step-one for required fields ======//
      function validateForm(currentTab) {
        // This function deals with validation of the form fields
          var x, y, i, valid = true;
          x = document.getElementsByClassName("step-form-tab");
          y = x[currentTab].getElementsByTagName("input");
          var formData = $(y).serializeArray();
          console.log('formData', formData);

        // A loop that checks every input field in the current tab:
          for (i = 0; i < formData.length; i++) {
            // If a field is empty...
            if (formData[i].value == "") {
              // add an "invalid" class to the field:
              y[i].className += " invalid";
              // and set the current valid status to false:
              valid = false;
            }
          }
        // If the valid status is true, mark the step as finished and valid:
          //if (valid) {
            //document.getElementsByClassName("step")[currentTab].className += " finish";
          //}
          return valid; // return the valid status
      }
          
    
