extends layout

block content
    p.lead Facility Details
    .row
    table.table
        thead.thead-light
        tr
            th Name
            th= facility.FacilityName
        tbody
        tr
            td Address
            td= facility.Address.street, facility.Address.city, facility.Address.state, facility.Address.zip
    .row
    .row.mt-4
    p.lead Facility Analytics
    table.table
        thead.thead-light
        tr
            th Analytics 1
            th Analytics 2
        tbody
        tr
            td Analytics 3
            td Analytics 4
        tr
            td Analytics 5
            td Analytics 6
    .row.mt-4
    p.lead Room Profile 1
        form
          .row
            .col-md-3
                .form-check
                    input#exampleCheck1.form-check-input(type='checkbox')
                    label.form-check-label(for='exampleCheck1') Oxygen
                .form-check
                    input#exampleCheck1.form-check-input(type='checkbox')
                    label.form-check-label(for='exampleCheck1') Diabetes
                .form-check
                    input#exampleCheck1.form-check-input(type='checkbox')
                    label.form-check-label(for='exampleCheck1') Price
                .form-check
                    input#exampleCheck1.form-check-input(type='checkbox')
                    label.form-check-label(for='exampleCheck1') Incontinence
                .form-check
                    input#exampleCheck1.form-check-input(type='checkbox')
                    label.form-check-label(for='exampleCheck1') Medic-aid
            .col-md-3
                .form-check
                    input#exampleCheck1.form-check-input(type='checkbox')
                    label.form-check-label(for='exampleCheck1') Gender
                .form-check
                    input#exampleCheck1.form-check-input(type='checkbox')
                    label.form-check-label(for='exampleCheck1') Private
                .form-check
                    input#exampleCheck1.form-check-input(type='checkbox')
                    label.form-check-label(for='exampleCheck1') Semi-private
                .form-check
                    input#exampleCheck1.form-check-input(type='checkbox')
                    label.form-check-label(for='exampleCheck1') RespiteCare
                            
            .col-md-3
                .dropdown
                    button#dropdownMenu1.btn.btn-secondary.dropdown-toggle(type='button',data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                        | Length of Stay
                        .dropdown-menu(aria-labelledby='dropdownMenu1')
                            a.dropdown-item(href='#!') Action
                            a.dropdown-item(href='#!') Another action

                    button#dropdownMenu1.btn.btn-secondary.dropdown-toggle(type='button',data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                        | Monthly Payment
                        .dropdown-menu(aria-labelledby='dropdownMenu1')
                            a.dropdown-item(href='#!') Action
                            a.dropdown-item(href='#!') Another action

                    button#dropdownMenu1.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                        | Room Count
                        .dropdown-menu(aria-labelledby='dropdownMenu1')
                            a.dropdown-item(href='#!') Action
                            a.dropdown-item(href='#!') Another action
                            
            .col-md-3
                .dropdown
                    button#dropdownMenu1.btn.btn-secondary.dropdown-toggle(type='button',data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                        | Room Type   
                        .dropdown-menu(aria-labelledby='dropdownMenu1')
                            a.dropdown-item(href='#!') Action
                            a.dropdown-item(href='#!') Another action
                    
                    button#dropdownMenu1.btn.btn-secondary.dropdown-toggle(type='button',data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                        | Number of beds
                        .dropdown-menu(aria-labelledby='dropdownMenu1')
                            a.dropdown-item(href='#!') Action
                            a.dropdown-item(href='#!') Another action
        .row.mt-4
    p.lead Room Profile 2
        form
          .row
            .col-md-3
                .form-check
                    input#exampleCheck1.form-check-input(type='checkbox')
                    label.form-check-label(for='exampleCheck1') Oxygen
                .form-check
                    input#exampleCheck1.form-check-input(type='checkbox')
                    label.form-check-label(for='exampleCheck1') Diabetes
                .form-check
                    input#exampleCheck1.form-check-input(type='checkbox')
                    label.form-check-label(for='exampleCheck1') Price
                .form-check
                    input#exampleCheck1.form-check-input(type='checkbox')
                    label.form-check-label(for='exampleCheck1') Incontinence
                .form-check
                    input#exampleCheck1.form-check-input(type='checkbox')
                    label.form-check-label(for='exampleCheck1') Medic-aid
            .col-md-3
                .form-check
                    input#exampleCheck1.form-check-input(type='checkbox')
                    label.form-check-label(for='exampleCheck1') Gender
                .form-check
                    input#exampleCheck1.form-check-input(type='checkbox')
                    label.form-check-label(for='exampleCheck1') Private
                .form-check
                    input#exampleCheck1.form-check-input(type='checkbox')
                    label.form-check-label(for='exampleCheck1') Semi-private
                .form-check
                    input#exampleCheck1.form-check-input(type='checkbox')
                    label.form-check-label(for='exampleCheck1') RespiteCare
                
            .col-md-3
                .dropdown
                    button#dropdownMenu1.btn.btn-secondary.dropdown-toggle(type='button',data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                        | Length of Stay
                        .dropdown-menu(aria-labelledby='dropdownMenu1')
                            a.dropdown-item(href='#!') Action
                            a.dropdown-item(href='#!') Another action

                    button#dropdownMenu1.btn.btn-secondary.dropdown-toggle(type='button',data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                        | Monthly Payment
                        .dropdown-menu(aria-labelledby='dropdownMenu1')
                            a.dropdown-item(href='#') Action
                            a.dropdown-item(href='#') Another action

                    button#dropdownMenu1.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                        | Room Count
                        .dropdown-menu(aria-labelledby='dropdownMenu1')
                            a.dropdown-item(href='#!') Action
                            a.dropdown-item(href='#!') Another action

            .col-md-3
                .dropdown
                    button#dropdownMenu1.btn.btn-secondary.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                        | Room Type   
                        .dropdown-menu(aria-labelledby='dropdownMenu1')
                            a.dropdown-item(href='#!') Action
                            a.dropdown-item(href='#!') Another action
                    
                    button#dropdownMenu1.btn.btn-secondary.dropdown-toggle(type='button',data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                        | Number of beds
                        .dropdown-menu(aria-labelledby='dropdownMenu1')
                            a.dropdown-item(href='#!') Action
                            a.dropdown-item(href='#!') Another action
    a(href="/room")
        button.btn.btn-primary.mt-4(type='button') Add Room +