extends layout

block content
    p.lead Facility Details
    .row
    table.table
        thead.thead-light
        tr
            th Name
            th= currentFacility.FacilityName
        tr
            td Address
            td= currentFacility.Address.street +', ' + currentFacility.Address.city +', ' +currentFacility.Address.state+', '+currentFacility.Address.zip 
    br
    br
    .row
    p.lead Room Details
    .col
        .row.mt-4 
            .col
                form
                    .row
                        .col
                            if currentRooms && currentRooms.length
                                - for (var i = 0; i < currentRooms.length; i++)
                                    h6= currentRooms[i].RoomName
                                        a(href="/updateroom/"+currentFacility._id+'/'+currentRooms[i]._id)
                                            i.ml-4.fas.fa-edit
                                    table.table
                                        thead.thead-light
                                        tr
                                            th Total Count 
                                            th= currentRooms[i].RoomName
                                        tr
                                            td Available 
                                            td something
                            else    
                                p.lead No room profiles are registered under this facility

    a(href="/roomsignup/"+currentFacility._id)
        button.btn.btn-primary.mt-4(type='button') Add Room +