extends layout

block content
  h1 Willow 
  p.lead A platform for Senior Healthcare
  hr
  br
  br
  if facilities && facilities.length
    .row
      .col
        - for (var i = 0; i < facilities.length; i++)
            br
            .row
              .col-md-6
                .card
                  .card-body
                    h4.card-title= facilities[i].FacilityName
                    p.card-text
                      | Some quick example text to build on the card title
                      | and make up the bulk of the card&apos;s content.
                    - var facility_id = facilities[i]._id.toString();
                    a.btn.btn-primary(href='/facility/facility_id') Details 
              .col-md-6
                if facilities.length > 1
                  .card
                    .card-body
                      h4.card-title= facilities[++i].FacilityName
                      p.card-text
                        | Some quick example text to build on the card title
                        | and make up the bulk of the card&apos;s content.
                      a.btn.btn-primary(href='#!') Go somewhere
  else                 
    .row
      .col 
        h1.text-center.font-weight-bolder Fill Vacancies.
        h3.text-center The Willow Senior Placement Platform connects your facility to active local prospects that meet your ideal resident profile..
  br
  br
  hr
  br
  br
  .row
    .col
      div.text-center
        a(href='/facilitysignup')
          button.btn.btn-success(type='button')  Add Facility 