extends layout

block content
  h1 Willow 
  p.lead A platform for Senior Healthcare
  hr
  .row
    .col 
      h1.text-center.font-weight-bolder Fill Vacancies.
      h3.text-center The Willow Senior Placement Platform connects your facility to active local prospects that meet your ideal resident profile..
  hr
  .row
    .col
      div.text-center
        a(href='/facilitysignup')
          button.btn.btn-success(type='button')  Add Facility 