extends layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 Room Sign up

  form.body-form(id='roomsignup-form', method='POST', action='/roomsignup/'+currentFacility._id.toString())
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group.row
      label.col-form-label.col-form-label__stacked Room Name
      .col-md-4
        input.form-control(type='text', name='roomName', id='roomName', placeholder='Room Name', autofocus, required)
    .form-group.row
      label.col-form-label.col-form-label__stacked Room Count
      .col-md-4
        input.form-control(type='number', name='count', id='count', placeholder='Room Count', autofocus, required)
    .form-group.row
        label.col-form-label.col-form-label__stacked(for='roomtype') Room Type
        .col-md-3.col-sm-4
            select.form-control(id='roomtype' name='roomtype')
              option Private
              option Semi-Private
              option Suit
              option Studio Apartment
    .form-group.row
      label.col-form-label.col-form-label__stacked Room Rent Range
      .col-md-7.form-group__inline
        .col-md-3
          input.form-control.text-right(type='number', name='min', id='min', placeholder='0.00', step='0.01', autofocus, required)
        .col-md-1.text-center
          label to 
        .col-md-3 
          input.form-control.text-right(type='number', name='max', id='max', placeholder='0.00', autofocus, required)
    .form-group.row
      label.col-sm-3.col-md-2.col-form-label Gender
      .col-md-3
        .col-md-12
          label.form-radio-label.ml-4(for='male') Male
            input.form-radio-input(type='radio', name='gender', id='male' value = 'M')
            span.radio
        .col-md-12
          label.form-radio-label.ml-4(for='female') Female
            input.form-radio-input(type='radio', name='gender', id='female' value = 'F')
            span.radio
    .form-group.row
      label.col-sm-3.col-md-2.col-form-label Medicaid Bed
      .col-md-3
        .col-md-12
          label.form-radio-label.ml-4(for='yes') Yes
            input.form-radio-input(type='radio', name='medicaid', id='yes' value = 'Y')
            span.radio
        .col-md-12
          label.form-radio-label.ml-4(for='no') No
            input.form-radio-input(type='radio', name='medicaid', id='no' value = 'N')
            span.radio


    .form-group.row
      label.col-sm-3.col-md-2.col-form-label Is this room within a secure unit/ have a Wanderguard?
      .col-md-3
        .col-md-12
          label.form-radio-label.ml-4(for='yes') Yes
            input.form-radio-input(type='radio', name='wandergaurd', id='yes' value = 'Y')
            span.radio
        .col-md-12
          label.form-radio-label.ml-4(for='yes') No
            input.form-radio-input(type='radio', name='wandergaurd', id='no' value = 'N')
            span.radio
    br
    -if(currentFacility.FacilityFeatures.length)
      p.lead Level of Assistance
      .row
      - for (var key in currentFacility.FacilityFeatures)
          -if(key != '$init')
              -if(currentFacility.FacilityFeatures.hasOwnProperty(key) && currentFacility.FacilityFeatures[key] == true)
                      table.table
                          thead.thead-light
                              .col-md-6
                                  tr
                                    td.text-left= myconstants.constants(key)
    .form-group.offset-sm-2.col-md-6.pl-2
      button.btn.btn-willow.btn-signup-form(type='submit')
        i.fas.fa-plus.fa-sm
        | Add a Room

