extends layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 Room Sign up

  form.body-form(id='roomsignup-form', method='POST', action='/roomsignup/'+currentFacility._id.toString())
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group.row
      label.col-form-label.col-form-label__stacked Room Name
      .col-md-4
        input.form-control(type='text', name='roomName', id='roomName', placeholder='Room Name', autofocus, required)
    .form-group.row
      label.col-form-label.col-form-label__stacked Room Count
      .col-md-4
        input.form-control(type='number', name='count', id='count', placeholder='Room Count', autofocus, required)
    .form-group.row
        label.col-form-label.col-form-label__stacked(for='roomtype') Room Type
        .col-md-3.col-sm-4
            select.form-control(id='roomtype' name='roomtype')
              option Private
              option Semi-Private
              option Suite
              option Studio Apartment
    .form-group.row
      label.col-sm-3.col-md-2.col-form-label Gender
      .col-md-3
        .col-md-12
          label.form-radio-label.ml-4(for='M') Male
            input.form-radio-input(type='radio', name='gender', id = 'M',  value = 'M')
            span.radio
        .col-md-12
          label.form-radio-label.ml-4(for='F') Female
            input.form-radio-input(type='radio', name='gender', id = 'F',  value = 'F')
            span.radio

    .form-section
      .form-group.form-section-header
          h3.text-left General Assistance Accommodations
              h4.text-left What level of assistance can your facility provide?
      .form-group.row
            label.col-sm-3.col-md-2.col-form-label Medicaid Bed
            .col-md-3
              .col-md-12
                label.form-radio-label.ml-4(for='medicaid_yes') Yes
                  input.form-radio-input(type='radio', checked= currentFacility.MedicAid, name='medicaid', id='medicaid_yes' value = 'true')
                  span.radio
              .col-md-12
                label.form-radio-label.ml-4(for='medicaid_no') No
                  input.form-radio-input(type='radio', checked= !currentFacility.MedicAid, name='medicaid', id='medicaid_no' value = 'false')
                  span.radio
    .form-section
      .form-group.form-section-header
          h3.text-left Behavioral Problems
              h4.text-left What level of behavioral assistance can your facility provide?
      .form-group.row
            label.col-md-12.col-md-2.col-form-label Does your Senior Exhibit any Behavioral Problems?
            .col-md-4
              .col-md-12
                label.form-radio-label.ml-4(for='behaviorproblems_yes') Yes
                  input.form-radio-input(type='radio', name='behaviorProblems', id='behaviorproblems_yes' value= 'true', checked=currentFacility.BehaviorProblems)
                  span.radio
              .col-md-12
                label.form-radio-label.ml-4(for='behaviorproblems_no') No
                  input.form-radio-input(type='radio', name='behaviorProblems', id='behaviorproblems_no' value= 'false', checked=!currentFacility.BehaviorProblems)
                  span.radio
      br
      .form-group.row
          label.col-md-12.col-md-2.col-form-label Are They Physically Aggressive?
          .col-md-4
            .col-md-12
              label.form-radio-label.ml-4(for='physicalaggressive_yes') Yes
                input.form-radio-input(type='radio', name='physicalAggressive', id='physicalaggressive_yes' value= 'true', checked= currentFacility.PhysicalAggressive)
                span.radio
            .col-md-12
              label.form-radio-label.ml-4(for='physicalaggressive_no') No
                input.form-radio-input(type='radio', name='physicalAggressive', id='physicalaggressive_no' value= 'false', checked= !currentFacility.PhysicalAggressive)
                span.radio
      br
      .form-group.row
          label.col-md-12.col-md-2.col-form-label Are the Behaviors Severe or Frequent?
          .col-md-4
            .col-md-12
              label.form-radio-label.ml-4(for='severeorfrequent_yes') Yes
                input.form-radio-input(type='radio', name='severeOrFrequentBehaviors', id='severeorfrequent_yes' value= 'true', checked= currentFacility.SevereOrFrequentBehaviors)
                span.radio
            .col-md-12
              label.form-radio-label.ml-4(for='severeorfrequent_no') No
                input.form-radio-input(type='radio', name='severeOrFrequentBehaviors', id='severeorfrequent_no' value= 'false', checked= !currentFacility.SevereOrFrequentBehaviors)
                span.radio

    .form-section
      .form-group.form-section-header
        h3.text-left Specialized Assistance Accomodations
            h4.text-left What types of special assistance can your facility provide?
      .form-group.row
          label.col-lg-3.col-md-5.col-form-label How Many Insulin Shots Can You Administer?
          .col-md-4
            input.form-control(type='number', name='insulinShots', id='insulinshots', placeholder='Insulin Shots', autofocus, required, value=currentFacility.InsulinShots)
      br
      .form-group.row
          label.col-lg-3.col-md-5.col-form-label Does Your Senior Need a Secure Memory Care Unit?
            .col-md-4
              .col-md-12
                label.form-radio-label.ml-4(for='memorycare_yes') Yes
                  input.form-radio-input(type='radio', name='memoryCare', id='memorycare_yes' value = 'true', checked= currentFacility.MemoryCare)
                  span.radio
              .col-md-12
                label.form-radio-label.ml-4(for='memorycare_no') No
                  input.form-radio-input(type='radio', name='memoryCare', id='memorycare_no' value = 'false', checked= !currentFacility.MemoryCare)
                  span.radio
      br
      .form-group.row
            label.col-lg-3.col-md-5.col-form-label Would you Take a Resident with an Oxygen Tank?
              .col-md-4
                .col-md-12
                  label.form-radio-label.ml-4(for='oxygentank_yes') Yes
                    input.form-radio-input(type='radio', name='oxygenTank', id='oxygentank_yes' value = 'true', checked= currentFacility.OxygenTank)
                    span.radio
                .col-md-12
                  label.form-radio-label.ml-4(for='oxygentank_no') No
                    input.form-radio-input(type='radio', name='oxygenTank', id='oxygentank_no' value = 'false', checked= !currentFacility.OxygenTank)
                    span.radio
      br
      .form-group.row
          label.col-lg-4.col-md-6.col-form-label Would you take a Resident who needs to be on oxygen at all times?
            .col-md-4
              .col-md-12
                label.form-radio-label.ml-4(for='alltimeoxygen_yes') Yes
                  input.form-radio-input(type='radio', name='continousOxygen', id='alltimeoxygen_yes' value = 'true', checked= currentFacility.ContinousOxygen)
                  span.radio
              .col-md-12
                label.form-radio-label.ml-4(for='alltimeoxygen_no') No
                  input.form-radio-input(type='radio', name='continousOxygen', id='alltimeoxygen_no' value = 'false', checked= !currentFacility.ContinousOxygen)
                  span.radio
      br
      .form-group.row
          label.col-lg-4.col-md-6.col-form-label Would you take a Resident who cannot change their own catheter/colostomy bag?
            .col-md-4
              .col-md-12
                label.form-radio-label.ml-4(for='changecatheter_yes') Yes
                  input.form-radio-input(type='radio', name='changeCatheterOrColostomyBag', id='changecatheter_yes' value = 'true', checked= currentFacility.ChangeCatheterOrColostomyBag)
                  span.radio
              .col-md-12
                label.form-radio-label.ml-4(for='changecatheter_no') No
                  input.form-radio-input(type='radio', name='changeCatheterOrColostomyBag', id='changecatheter_no' value = 'false', checked= !currentFacility.ChangeCatheterOrColostomyBag)
                  span.radio
    .form-group.offset-sm-3.col-md-7.pl-2
      button.btn.btn-willow(type='submit')
        | Add Room

