@import "themes/default/variables";

@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/@ladjs/bootstrap-social/bootstrap-social.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid";

@import "themes/default/default";

// Scaffolding
// -------------------------

html {
  position: relative;
  min-height: 100%;
}

body {
    padding-top: 80px;
    margin-bottom: 75px;
    font-size: 14px;
    .font-weight-bold {
        font-weight: 600 !important;
    }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;

  p, ul {
    margin-bottom: 0;
  }
}

.content-with-aside {
    position: relative;
    width: 100%;
    height: 100%;
    .main-col {
        width: 66%;
        float: left;
        padding: 0px 20px;
        margin-bottom: 100px;
    }
    .side-col {
        width: 33%;
        float: left;
        margin-bottom: 100px;
        .btn-edit {
            position: absolute;
            right: 15px;
            top: 15px;
        }
    }
    .side-col__updated-card-banner {
        position: relative;
        height: 80px;
        width: 100%;
        background-color: #1dc971;
        .img-container {
            position: absolute;
            bottom: -30px;
            left: 50%;
            transform: translateX(-50%);
            padding: 10px;
            background-color: white;
            border-radius: 50%;
            box-shadow: 0 10px 20px 0px rgba(5, 32, 54, 0.1);
            img {
                height: 60px;
                width: 60px;
            }
        }
        
    }
    .side-col__body {
        padding: 50px 15px 15px;
        text-align: center;
    }
    .side-col__card-header {
        position: relative;
        margin-bottom: 1em;
        &:after {
            content: "";
            position: absolute;
            bottom: -10px;
            width: 150px;
            max-width: 100%;
            left: 0;
            height: 1px;
            background-color: $grey-light;
        }
    }
    .side-col__card {
        position: relative;
        //padding: 15px;
        border: 1px solid $grey-light;
        min-height: 15px;
        border-radius: 2px;
        h5 {
            font-color: $section-header;
            color: $black;
        }
        p.table-label {
            color: $black;
            font-size: $table-label;
            margin-bottom: 0px !important;
        }
        table {
            
            td {
                color: $grey;
                font-size: $table-text;
                border: none;
                padding-top: 0px;
                padding-left: 0px;
            }
        }
    }
    
}


.side-tabs {
    margin-top: 40px;
    .btn-secondary {
        max-width: 85%;
        margin-bottom: 50px;
    }
    > div {
        //display: flex;
        //flex-wrap: wrap;
        align-content: flex-start;
    }
    .tab-content {
        position: relative;
        float: right;
        //200px = tab width
        width: calc(100vw - 250px);
        max-width: 70%;
        padding-left: 40px;
        //flex-grow: 1;
        .form-section {
            padding-top: 0px;
        }
    }
    .nav-tabs {
        position: fixed;
        float: left;

        $tab-width: 250px;
        display: block;
        border-right: 1px solid $grey-light;
        border-bottom: none;
        min-height: 50vh;
        width: $tab-width;
        max-width: 30%;
        span {
            line-height: 60px;
        }
        li a {
            display: block;
            width: $tab-width;
            padding: 0px 25px;
            height: 60px;
            //line-height: 60px;
            &.active {
                border-right: 2px solid $willow-green;
            }
        }
    }
}

.top-tabs {
    > div {
        align-content: flex-start;
    }
    .tab-content {
        position: relative;
        width: 100%;
        .form-section {
            padding-top: 0px;
        }
    }
    .nav-tabs {
        display: flex;
        align-content: flex-start;
        width: 100%;
        border-bottom: 1px solid $grey-light;
        margin-bottom: 30px;
        li a {
            display: block;
            padding: 0px 20px 10px;
            width: 100%;
            &.active {
                border-bottom: 2px solid $willow-green;
            }
        }
    }
}




// Bootstrap Extensions
// -------------------------

.col {
    &.center-contents {
        margin-right: auto;
        margin-left: auto;
    }
}

$margin-slug: m !default;
$padding-slug: p !default;
$class-dir-top: t !default;
$class-dir-bottom: b !default;
$class-dir-right: r !default;
$class-dir-left: l !default;

@for $i from 0 through 100 {
    .#{$margin-slug}-#{$class-dir-top}-#{$i} {
        margin-top: 0px + $i;
    }
    .#{$margin-slug}-#{$class-dir-bottom}-#{$i} {
        margin-bottom: 0px + $i;
    }
    .#{$margin-slug}-#{$class-dir-right}-#{$i} {
        margin-right: 0px + $i !important;
    }
    .#{$margin-slug}-#{$class-dir-left}-#{$i} {
        margin-left: 0px + $i;
    }
    .#{$padding-slug}-#{$class-dir-top}-#{$i} {
        padding-top: 0px + $i;
    }
    .#{$padding-slug}-#{$class-dir-bottom}-#{$i} {
        padding-bottom: 0px + $i;
    }
    .#{$padding-slug}-#{$class-dir-left}-#{$i} {
        padding-left: 0px + $i;
    }
    .#{$padding-slug}-#{$class-dir-right}-#{$i} {
        padding-right: 0px + $i;
    }
}

.hidden-sm {
    @media (max-width: 992px) {
        display: none;
    }
}


// Text Elements
// -------------------------
h1, h2 {
    font-family: $headings-font-family;
}

h3, h4, h5, p, span, a, button {
    font-family: $font-family-base;
}

h1 {
    font-size: $header-font;
}
h2 {
    font-size: $sub-header-font;
}
h3 {
    font-size: $section-header;
}
h4 {
    font-size: $body-font-sm;
    color: $grey-middle;
}
h5, h6 {
    font-size: $body-font-lg;
}

p, 
span {
    font-size: $body-font-lg;
}

a {
    color: $willow-blue;
    &:hover {
        text-decoration: none;
        color: $willow-blue;
    }
}

button {
    &:hover {
        cursor: pointer;
    }
}

.text-grey {
    color: $grey-light;
}



// Form Elements
// -------------------------
$form-padding-top: 4em;
form {
    margin: auto;
    width: 100%;
    &.body-form {
        width: 80vw;
        min-width: 400px;
        &.body-form__centered {
            width: 500px;
            max-width: 80vw;
            margin: auto;
        }
        &.body-form--with-tabs {
            margin-left: 0px;
        }

    }
    .form-group__inline {
        position: relative;
        display: inline-block;
    }
}


.step-form-breadcrumbs {
    span.step {
        $circle-size: 25px;
        $gap-width: 30px;
        $line-width: ($gap-width*2) + $circle-size;
        position: relative;
        height: $circle-size;
        width: $circle-size;
        margin: 0 $gap-width;
        background-color: white;
        border: 2px solid $grey-light;
        border-radius: 50%;
        display: inline-block;
        &:not(:first-child) {
            &:before {
                content: "";
                z-index: -1;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                height: 2px;
                right: 0px;
                width: $line-width;
                background-color: $grey-light;
            }
        }
        &.active {
            border-color: $willow-green;
            &:before {
                background-color: $willow-green;
            }
        }
        &.complete {
            background-color: $willow-green;
            border-color: $willow-green;
            &:before {
                background-color: $willow-green;
            }
        }
    }

    span.step.active {
        opacity: 1;
    }
}   

.step-form-breadcrumbs.breadcrumbs-flex {
    span.step {
        $circle-size: 15px;
        $gap-width: 20px;
        $line-width: ($gap-width*2) + $circle-size;
        position: relative;
        height: $circle-size;
        width: $circle-size;
        margin: 0 $gap-width;
        background-color: white;
        border: 2px solid $grey-light;
        border-radius: 50%;
        display: inline-block;
        &:not(:first-child) {
            &:before {
                content: "";
                z-index: -1;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                height: 2px;
                right: 0px;
                width: $line-width;
                background-color: $grey-light;
            }
        }
         &.active {
            border-color: $willow-green;
            &:before {
                background-color: $willow-green;
            }
        }
        &.complete {
            background-color: $willow-green;
            border-color: $willow-green;
            &:before {
                background-color: $willow-green;
            }
        }
    }
}



.step-form-tab {
    display: none;
}

.table-search {
    .inputgroup {
        position:relative;
        display: inline-block;
        height: 30px;
        line-height: 30px;
        vertical-align: middle;
        width: 100%;
        margin-bottom: 20px;
    }
    .search {
        border-radius: 2px;
        width: 100%;
        height: 40px;
        line-height: 30px;
        padding: 10px 6px 10px 50px;
        border: none;
        font-size: 13px;
        display: inline-block;
        vertical-align: middle;
        border: 1px solid #CCC;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
        outline: none;
        &:focus {
            border: 1px solid $grey;
        }
    }
    .inputgroup .innericon {
        position: absolute;
        top: 8px;
        left: 8px;
        z-index: 2;
        display: block;
        text-align: center;
        pointer-events: none;
    }

    .searchicon {
        height: 100%;
        width: 30px;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-position: right center;
        background-repeat: no-repeat;
        background-size: 1.5em;
        background-origin: content-box;
        background-image: url("../../icons/search-light.svg"); 
    }
}




.header-row {
    .form-group {
        margin-bottom: 0px !important;
    }
}

.form-group {
    position: relative;
    margin-bottom: 2em !important;
    + .form-group {
        margin-top: 1em;
    }
    .form-group__inline {
        // &:first-child {
        //     padding-left: 0px;
        // }
        > * {
            display: inline-block;
            vertical-align: middle;
            
        }
    }
}

.form-section {
    position: relative;
    padding-top: $form-padding-top;
    padding-bottom: 3em;
    .form-group {
        &:not(.form-section-header) { padding-left: 30px; }
        margin-bottom: 1em;
    }
    .form-section-header {
        margin-bottom: 3em !important;
        &.form-section-header--center {
            margin-bottom: 5em !important;
            &:after {
                left: 50%;
                transform: translateX(-50%);
                bottom: -2em;
            }
        }
        &:after {
            content: "";
            position: absolute;
            bottom: -10px;
            width: 150px;
            left: 0;
            height: 1px;
            background-color: $grey-light;
        }
    }
}

.form-check + .form-check {
    margin-top: 8px;
}


// Input Fields
// -------------------------

textarea {
  resize: vertical;
}

input.form-control {
    border: 1px solid $grey-middle;
    font-size: $body-font-lg;
    background-color: white !important;
    &:active, &:focus {
        border-color: #737373;
    }
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

input {
    caret-color: $black-medium;
    &:placeholder-shown {
        color: $placeholder-color !important;
    }
    &::placeholder {
        color: $placeholder-color !important;
    }
    &::-webkit-input-placeholder {
        color: $placeholder-color !important;
    } 
    &:-moz-placeholder {
        color: $placeholder-color !important;
    }
    &::-moz-placeholder {
        color: $placeholder-color !important;
    }
    &:-ms-input-placeholder  {
        color: $placeholder-color !important;
    }   
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


label {
    &.col-form-label {
        font-size: $body-font-lg;
        color: $black-medium;
        padding-left: 15px;
        &.col-form-label__stacked {
            position: absolute;
            top: -5px;
            + * {
                margin-top: 30px;
            }
        }
    }
    &.check-group-label {
        top: -10px;
    }

}

@keyframes reveal-notification { 
    0% {
        opacity: 0;
        display: none;
    }
    100% { 
        opacity: 1;
        display: block;
    } 
}

// Home Page animation
.facility-notification {
    position: absolute;
    opacity: 0;
    right: 0px;
    bottom: 10px;
    padding: 15px 0px 10px 20px;
    background-color: $willow-green;
    color: $white;
    display: none;
    border-radius: 3px;
    max-width: calc(100% - 215px);
    width: 60%;
    &.showNot {
        display: block;
        opacity: 1;
        transition: opacity 250ms;
        animation-name: reveal-notification;
        animation-duration: 500ms;
        animation-iteration-count: 1;
        
    }
    > * {
        margin: 0px;
    }
    button {
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);
        background: transparent;
        border: none;
        opacity: 1;
        img {
            height: 25px;
            opacity: 1;
            &:hover {
                opacity: 0.9;
            };
        }
    }
}

// Custom Checkbox
.form-check-input {
    width: 17px;
    height: 17px;
    background: #fff;
    border-radius: .21428571rem;
    -webkit-transition: border .1s ease,opacity .1s ease,-webkit-transform .1s ease,-webkit-box-shadow .1s ease;
    transition: border .1s ease,opacity .1s ease,-webkit-transform .1s ease,-webkit-box-shadow .1s ease;
    transition: border .1s ease,opacity .1s ease,transform .1s ease,box-shadow .1s ease;
    transition: border .1s ease,opacity .1s ease,transform .1s ease,box-shadow .1s ease,-webkit-transform .1s ease,-webkit-box-shadow .1s ease;
    border: 1px solid #d4d4d5;
    margin-top: 1px;
    margin-right: 2px;
}

label.form-check-label, .form-radio-label {
    display: block;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: $body-font-sm;
    padding-left: 20px;
    margin: 10px 0px;
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }
    input:checked ~ .checkmark, input:checked ~ .radio {
      background-color: $willow-green;
      border-color: $willow-green;
    }
    input:checked ~ .checkmark:after, input:checked ~ .radio:after {
        display: block;
    }
    .checkmark, .radio {
        position: absolute;
        top: 0;
        left: -20px;
        height: 20px;
        width: 20px;
        background: #fff;
        border-radius: .21428571rem;
        -webkit-transition: border .1s ease,opacity .1s ease,-webkit-transform .1s ease,-webkit-box-shadow .1s ease;
        transition: border .1s ease,opacity .1s ease,-webkit-transform .1s ease,-webkit-box-shadow .1s ease;
        transition: border .1s ease,opacity .1s ease,transform .1s ease,box-shadow .1s ease;
        transition: border .1s ease,opacity .1s ease,transform .1s ease,box-shadow .1s ease,-webkit-transform .1s ease,-webkit-box-shadow .1s ease;
        border: 1px solid #d4d4d5;
        &:after {
            content: "";
            position: absolute;
            display: none;
            left: 6px;
            top: 2px;
            width: 6px;
            height: 12px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }
}


// Custom Table
.match-table {
    width: 100%;
    thead {
        border-bottom: 1px solid $grey-middle;
    }
    td, th {
        position: relative;
        color: $black-dull;
    }
    td { padding: 15px 10px; }
    th { padding: 10px; }
    tbody {
        tr {
            cursor: pointer;
            &:nth-child(odd) {
                background-color: #f1f1f1;
            }
            &:nth-child(even) {
                background-color: white;
            }
        }
        .unread {
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            height: 10px;
            width: 10px;
            border-radius: 50%;
            background-color: $willow-green;
        }
    }
}



// Custom Radio - extends checkmark

label.form-radio-label {
    .radio {
        border-radius: 50%;
        &:after {
            top: 4px;
            left: 4px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: white;
        }
    }
}

// Custom Toggle
.full-width-radio {
    .form-radio-label {
        display: block;
        width: 100%;
    }
}
.form-radio-label {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    input {
        opacity: 0;
        width: 0;
        height: 0;
        &:checked + .knob {
            background-color: $willow-green;
            box-shadow: 0 0 1px $willow-green;
            &:before {
                -webkit-transform: translateX(26px);
                -ms-transform: translateX(26px);
                transform: translateX(26px);
            }
        }
        &:focus + .knob {
            box-shadow: 0 0 1px $willow-green;
        }
    }
    .knob {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 34px;
        &:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
            border-radius: 50%;
        }
    }
}

// Custom Select Box
// ------------------------

select.form-control {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 1.5em;
    background-origin: content-box;
    background-image: url('../../icons/dropdown-arrow.png');
    .select-items {
        position: absolute;
        background-color: white;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 99;

    }
}



// Navbar
// -------------------------


.navbar {
    .logo {
        height: 50px;
        width: auto;
        max-width: 100%;
    }
}

.navbar-nav img {
  width: 30px;
  min-height: 30px;
  margin: -15px 15px -15px;
}

.navbar{
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 20px;
    display: block;
    .navbar-brand {
        padding: 10px 0px !important;
    }
    .divider {
        border-top: 1px solid $grey-light;
        width: 100%;
    }
}

.navbar-brand{
  font-size: 18px;
  float: left;
  padding: 10px 0px;
}

.navbar-toggler {
  position: relative;
  float: right;
  margin-bottom: 8px;
  margin-top: 8px;
  &:focus, &:active {
    outline: none;
  }
}

.navbar-toggler-icon {
  font-size: 16px;
}

.dropdown-menu {
  left: initial;
  right: 0;
}

/* 
* Solves Bootstrap 4 issue
* https://github.com/twbs/bootstrap/issues/25654
*/
/* Styles in sm disposition and up */
@media (min-width: 576px) and (max-width: 767px) {
  /* Solves bs4 bug */
  .navbar-expand-md > .container,
  .navbar-expand-lg > .container,
  .navbar-expand-xl > .container {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

/* Styles in md disposition and up */
@media (min-width: 768px) and (max-width: 991px) {
  /* Solves bs4 bug */
  .navbar-expand-lg > .container,
  .navbar-expand-xl > .container {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

/* Styles in lg disposition and up */
@media (min-width: 992px) and (max-width: 1199px) {
  /* Solves bs4 bug */
  .navbar-expand-xl > .container {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa {
  margin-right: 6px;
}

.fab {
  margin-right: 6px;
}

.fas {
  margin-right: 6px;
}

.far {
  margin-right: 6px;
}



// Buttons
// ------------------------
$primary-button-width: 250px;
$sm-button-width: 215px;
$edit-button-width: 75px;

form {
    .btn-willow {
        margin-top: 3em;
        margin-bottom: 3em;
    }
}

.btn-subtle {
    display: block;
    position: relative;
    width: $sm-button-width;
    border: none;
    background-color: none;
    font-size: 15px;
    padding: 10px 24px;
    height: 45px;
    margin-left: auto;
    margin-right: auto;
    color: $black-dull;
    text-align: center;
    &:hover, &:focus {
        opacity: 0.9;
        outline: none;
    }
}

.btn-secondary {
    display: block;
    position: relative;
    width: $sm-button-width;
    border: none;
    transition: box-shadow 100ms;
    border-radius: 8px;
    font-size: 15px;
    padding: 6px 24px;
    height: 45px;
    margin-left: auto;
    margin-right: auto;
    background-color: $willow-blue;
    background: $willow-blue;
    color: white;
    box-shadow: 0 10px 20px 0px rgba(5, 32, 54, 0.2);
    -moz-box-shadow: 0 10px 20px 0px rgba(5, 32, 54, 0.2);
    -webkit-box-shadow: 0 10px 20px 0px rgba(5, 32, 54, 0.2);
    -o-box-shadow: 0 10px 20px 0px rgba(5, 32, 54, 0.2);
    -ms-box-shadow: 0 10px 20px 0px rgba(5, 32, 54, 0.2);

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    &:not(:disabled):not(.disabled) {
        &:hover, &:focus {
            opacity: 0.9;
            background-color: $willow-blue;
            background: $willow-blue;
            box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
           -moz-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
           -webkit-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
           -o-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
           -ms-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
            border: none;
            opacity: 0.9;
            outline: none;
        }
        &:active, :active:focus {
            border-color: transparent;
            border: none;
            background-color: $willow-blue;
            background: $willow-blue;
            opacity: 1;
            outline: none;
        }
    }
}

.btn-edit {
    display: block;
    position: relative;
    min-width: $edit-button-width;
    border: 1px solid $black;
    color: $black;
    transition: color 200ms;
    //opacity: 0.8;
    background-color: white;
    box-shadow: none;
    padding-left: 7px;
    padding-right: 7px;
    &.no-border {
        border: none;
    }
    span {
        font-size: 14px;
    }
    i {
        font-size: 13px;
        font-weight: 400;
        color: $black;
        margin-right: 8px;
    }
    &:hover, &:focus {
        color: $grey;
        border-color: $grey;
    }
}

.btn-delete {
    border-radius: 100px;
    height: 45px;
    width: 150px;
    padding: 6px 16px;
    font-size: 14px;

    box-shadow: 0 10px 20px 0px rgba(5, 32, 54, 0.2);
    -moz-box-shadow: 0 10px 20px 0px rgba(5, 32, 54, 0.2);
    -webkit-box-shadow: 0 10px 20px 0px rgba(5, 32, 54, 0.2);
    -o-box-shadow: 0 10px 20px 0px rgba(5, 32, 54, 0.2);
    -ms-box-shadow: 0 10px 20px 0px rgba(5, 32, 54, 0.2);
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    &:not(:disabled):not(.disabled) {
        &:hover, &:focus {
            opacity: 0.9;
            box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
           -moz-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
           -webkit-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
           -o-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
           -ms-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
            border: none;
            opacity: 0.9;
        }
        &:active, :active:focus {
            border-color: transparent;
            border: none;
            background-color: $willow-blue;
            background: $willow-blue;
            opacity: 1;
        }
    }
}

.btn-willow {
    display: block;
    position: relative;
    max-width: 300px;
    min-width: $primary-button-width;
    border: none;
    transition: box-shadow 100ms;
    border-radius: 100px;
    font-size: 22px;
    padding: 12px 36px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    background-color: $willow-green;
    background: $willow-green;
    color: white;
    box-shadow: 0 5px 15px 0px rgba(87, 184, 70, 0.4);
    -moz-box-shadow: 0 5px 15px 0px rgba(87, 184, 70, 0.4);
    -webkit-box-shadow: 0 5px 15px 0px rgba(87, 184, 70, 0.4);
    -o-box-shadow: 0 5px 15px 0px rgba(87, 184, 70, 0.4);
    -ms-box-shadow: 0 5px 15px 0px rgba(87, 184, 70, 0.4);

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    &.btn-willow-sm {
        height: 50px;
        width: $sm-button-width;
        padding: 6px 16px;
        font-size: 14px;
    }
    &:not(:disabled):not(.disabled) {
        &:hover, &:focus {
            background-color: $willow-green;
            background: $willow-green;
            box-shadow: 0 5px 15px 0px rgba(51, 51, 51, 0.3);
           -moz-box-shadow: 0 5px 15px 0px rgba(51, 51, 51, 0.3);
           -webkit-box-shadow: 0 5px 15px 0px rgba(51, 51, 51, 0.3);
           -o-box-shadow: 0 5px 15px 0px rgba(51, 51, 51, 0.3);
           -ms-box-shadow: 0 5px 15px 0px rgba(51, 51, 51, 0.3);
            border: none;
        }
        &:active, :active:focus {
            border-color: transparent;
            border: none;
            background-color: $willow-green;
            background: $willow-green;
            opacity: 0.9;
        }
    }
  
}

// Header
// --------------------------
.navbar {
    .nav {
        li.active { 
            a.nav-link { color: $willow-green !important; } 
        }
    }
}




// Home Page
// --------------------------

.page-header {
    position: relative;
}

.hero-image {
    position: fixed;
    height: 90vh;
    width: 100vw;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../willow-hero-no-logo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    transition: opacity 200ms;
    opacity: 1;
}

#hero-polygon {
    position: fixed;
    bottom: 10vh;
    left: 0;
    height: 5vw;
    width: 100%;
}

button.btn-willow.btn-willow__hero {
    background-color: $willow-green;
    background: $willow-green;
    box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
   -moz-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
   -webkit-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
   -o-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
   -ms-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
    border: none;
    &:not(:disabled):not(.disabled) {
        &:hover, &:focus {
            background-color: $willow-green;
            background: $willow-green;
            box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 1);
           -moz-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 1);
           -webkit-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 1);
           -o-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 1);
           -ms-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 1);
            border: none;
            opacity: 0.9;
        }
        &:active, :active:focus {
            border-color: transparent;
            border: none;
            background-color: $willow-green;
            background: $willow-green;
            opacity: 0.8;
        }
    }
}

.hero-text {
    margin-top: 25vh;
}


// Facility Sign-Up Page
// -------------------------

#facsignup-form {
    padding-bottom: 75px;
    // .form-section {
    //     position: relative;
    //     padding-left: 75px;
    //     &:before {
    //         content: "";
    //         position: absolute;
    //         z-index: 1;
    //         top: $form-padding-top;
    //         height: 30px;
    //         width: 30px;
    //         left: 0;
    //         background-color: white;
    //         border: 2px solid $willow-green;
    //         color: white;
    //         border-radius: 50%;
    //         color: $grey-middle;
    //     }
    //     &:after {
    //         content: "";
    //         position: absolute;
    //         z-index: 0;
    //         top: $form-padding-top;
    //         height: 100%;
    //         width: 1px;
    //         left: 14px;
    //         background-color: $willow-green;
    //     }
    //     //start at 2 because of the shadow input
    //     // &:nth-child(2) { 
    //     //     &:before { content: "1"; } 
    //     // }
    // }
}


#roomsignup-form {
    padding-bottom: 75px;
}

.button-row {
    justify-content: center;
    align-items: center;
}


// Login/Register Form Pages
// ------------------------------


$form-width: 750px;
$form-max: 90vw;

$input-width: 350px;

.auth-form {
    position: relative;
    padding-top: $form-padding-top;
    padding-bottom: 10px;
    text-align: center;
    margin: auto;
    max-width: 100%;
    width: $form-width;
    .form-group {
        &:not(.form-section-header) { padding-left: 30px; }
        margin-bottom: 1em;
    }
    .auth-form-header {
        position: relative;
        margin-bottom: 0.5em;
        &:after {
            content: "";
            position: absolute;
            bottom: -25px;
            width: 150px;
            left: 50%;
            transform: translateX(-50%);
            height: 1px;
            background-color: $grey-light;
        }
    }
}

.login-container {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    text-align: left;
    input::-webkit-input-placeholder { color:transparent; }
    input:-moz-placeholder { color:transparent; }
    input::-moz-placeholder { color:transparent; }
    input:-ms-input-placeholder { color:transparent; }
    button.btn-willow {
        margin-top: 1.5em;
    }
}

.login-wrapper {
    position: relative;
    max-width: $form-max;
    width: $form-width;
    form {
        position: relative;
        width: 100%;
    }
}

$input-height: 57px;
.input-wrapper {
    width: $input-width;
    max-width: 100%;
    margin: auto;
    position: relative;
    border-bottom: 2px solid $black-dull;
    margin-bottom: 2em;
    + .input-wrapper {
        margin-top: 3em;
    }
    &.has-value input {
        border-color: transparent !important;
        box-shadow: none !important;
        background-color: white !important;
        outline-color: white !important;
        + span::after {
            top: -20px;
            font-size: $body-font-sm;
        }
        + span::before {
            width: 100%;
        }
    }
    input {
        display: block;
        width: 100%;
        height: $input-height; //55 plus the 2px height of the focus span
        background: transparent;
        padding: 0 5px;
        border-color: transparent !important;
        &:focus {
            border-color: transparent !important;
            box-shadow: none !important;
            background-color: white !important;
            outline-color: white !important;
            + span::after {
                top: -20px;
                font-size: $body-font-sm;
            }
            + span::before {
                width: 100%;
            }
        }
    }
    span {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        pointer-events: none;
        &::before, &::after {
            display: block;
            position: absolute;
            left: 0;
            -webkit-transition: all 400ms;
            -o-transition: all 400ms;
            -moz-transition: all 400ms;
            transition: all 400ms;
        }
        &::before {
            content: "";
            bottom: -2px;
            width: 0;
            height: 2px;
            background: $willow-green;
        }
        &::after {
            content: attr(data-placeholder);
            top: 15px;
            width: 100%;
            padding-left: 5px;
            font-family: $font-family-base;
            font-size: $body-font-lg;
            color: $grey-middle;
            
  
        }
    }
}

.forgot-password {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: left;
    p, a {
        font-size: $body-font-sm;
        padding: 0px;
    }
    p {
        color: $grey-middle;
        line-height: 1em;
        width: $input-width;
        margin: auto;
    }
    a {
        color: $willow-green;
        vertical-align: middle;
        padding-left: 3px;
        line-height: 0.8em;
        &:hover {
            text-transform: none;
            color: $willow-green;
            opacity: 0.8;
        }
    }

}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

// Footer
// ------------------------

.footer-content {
    p {
        color: $black-dull;
        font-size: $body-font-sm;
    }
}


// Facility Manage Page
// ------------------------

.main-col-section-header {
    position: relative;
    margin-bottom: 1em;
    &:after {
        content: "";
        position: absolute;
        bottom: -10px;
        width: 150px;
        left: 0;
        height: 1px;
        background-color: $grey-light;
    }
}

.inline-contents {
    > * {
        display: inline-block;
        vertical-align: middle;
    }
}



table {
    tr:first-child {
        td {
            border-top: none;
        }
    }
}


.card-body {
    position: relative;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
    transition: 0.3s;
    .btn-edit {
        position: absolute;
        right: 15px;
        top: 0px;
    }
    a.card-body__edit {
        position: absolute;
        top: 10px;
        right: 15px;
        color: $willow-blue;
    }
    i.fa-chevon-right {
        font-size: 11px;
        margin-left: 5px;
        color: $willow-blue;
    }
    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);
    }
}




